<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Navegação Ionic ↔ Flutter</strong>
    <p>Use o botão abaixo para abrir a página Flutter.</p>
    <ion-button expand="block" (click)="openFlutterPage()">
      Abrir página Flutter
    </ion-button>
  </div>
</ion-content>
